body{
        font-family: Arial;
        margin: 0px;
        padding: 0px;
        background-color: antiquewhite;

}
/* Encabezado*/
header{
    background-color: #650592;
    color: white;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

head .logo h1{
    margin: 0px;
    padding-left: 30px;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding-right: 30px;
}
nav ul li{
    display: inline;
    margin-right: 15px;
}
.anclas{
    color: rgb(10, 97, 173);
}
section{
    padding: 20px;
    margin: 10px;
    background-color: rgb(20, 76, 124);
    border-radius: 10px;
    box-shadow: 10px 2px 15px;

}

h2{
    color: rgb(122, 75, 14);
    
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    
}
